.kitify-toggle-sidebar {
  &.kitify-active-sidebar-toggle {
    position: relative;
    .kitify-toggle-sidebar__container {
      position: relative;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      background: #fff;
      padding: 60px 30px 30px 30px !important;
      max-width: none;
      overflow-y: visible;
      width: 400px;
      z-index: 99999;
      transition: -webkit-transform 0.5s ease;
      transition: transform 0.5s ease;
      transition: transform 0.5s ease, -webkit-transform 0.5s ease;
      -webkit-transform: translate3d(-400px,0,0);
      transform: translate3d(-400px,0,0);
    }
    .toggle-column-btn__wrap {
      position: fixed;
      top: 0;
      left: 0;
      width: 400px;
      background-color: #fff;
      @include breakpoint(small down) {
        width: 100%;
      }
      padding: rem-calc(15);
    }
    .toggle-column-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      order: 1;
      width: 40px;
      height: 40px;
      margin-left: auto;
      transition: all .2s;
      border: v(site-border-color) solid 1px;
      background-color: #fff;
      text-align: center;
      border-radius: 50%;
      &:before {
        @include nova_icon('\ea13');
        font-size: rem-calc(18);
        color: v(site-heading-color);
        line-height: 38px;
      }
    }
  }
  &.opened {
      .kitify-toggle-sidebar__container {
        transform: none;
        @include breakpoint(small down) {
          width: 100%;
        }
      }
  }
}
.nova-overlay-global {
  &.opened {
    opacity: .3;
    visibility: visible;
  }
}
