// =============================================================================
// Shop Display List
// =============================================================================

body ul.products.product-list-display {
  flex-direction: column;
  li.product {
    width: 100%;
    max-width: 100% !important;
    &:hover {
      box-shadow: 0 0 0 0;
    }
    .product-item {
      display: flex;
      &__thumbnail {
        width: 30%;
      }
      &__description {
        padding-left: rem-calc(30);
        &--actions,
        &--button {
          display: none;
        }
        &--info {
          .info-left {
            text-align: left !important;
            a.title .woocommerce-loop-product__title {
              font-size: rem-calc(18);
              font-weight: 600 !important;
            }
          }
          .info-right {
            text-align: left !important;
            span.price {
              display: inline-flex;
              flex-direction: column;
              bdi,
              ins {
                font-size: rem-calc(24);
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}
