ul.products {
  &.products-grid-2 {
    border-color: v(site-border-color);
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 0;
    border-right-width: 0;
    margin: 0 !important;

    .product {
      padding: rem-calc(0) !important;
      border-color: v(site-border-color);
      border-style: solid;
      border-top-width: 0;
      border-left-width: 0;
      border-bottom-width: 1px;
      border-right-width: 1px;
      z-index: 10;

      .product-item {
        padding: rem-calc(20);
        z-index: 1;
        overflow: visible;
      }
      // Include Badges
      @include shop_product_badges(0, 0);
      .product-item-footer {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        padding: 0 rem-calc(20) rem-calc(20) rem-calc(20);
        opacity: 0;
        visibility: hidden;
        will-change: opacity;
        -webkit-transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
        transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
        z-index: 1;
      }
      .product-item .product-item__description .product-item__description--info {
        flex-direction: column;
        .info-left {
          width: 100%;
          text-align: center;
          margin-bottom: rem-calc(10);
        }
        .info-right {
          width: 100%;
          text-align: center;
          .price {
            font-size: rem-calc(18);
          }
        }
         a.title .woocommerce-loop-product__title {
           font-size: rem-calc(14);
           font-weight: 500;
           text-transform: none;
         }
         .star-rating {
           margin: rem-calc(10) auto 0 auto;
         }
      }
      .product-item-hover {
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        background-color: #fff;
        border: 1px solid v(site-border-color);
        opacity: 0;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
        pointer-events: none;
        will-change: opacity;
        -webkit-transition: all 0.2s cubic-bezier(0.17, 0.62, 0.44, 0.99);
        transition: all 0.2s cubic-bezier(0.17, 0.62, 0.44, 0.99);
      }
      &:hover {
        z-index: 11;
        .product-item-footer {
          opacity: 1;
          visibility: visible;
        }
        .product-item-hover {
          opacity: 1;
        }
      }
    }
  }
}
