.elementor-location-header .kitify--transparency-yes.elementor-section.elementor-sticky:not(.elementor-sticky--effects) {
  position: absolute;
  left: 0;
  width: 100%;
}
.wvr-customer-select {
  padding: 0 rem-calc(10) !important;
}
